
<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="section page-header rd-navbar-transparent-wrap">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse">
                <div class="rd-navbar-aside">
                    <div class="rd-navbar-info">
                    </div>
                    <ul class="list-lined">
                       <form th:action="@{/logout}" method="post"><li><button lass="btn btn-sm btn-primary" style="padding-left: 30px; padding-right: 30px;"  type="submit">Log out</button></li></form>
                    </ul>
                </div>
            </div>
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main-inner">
                    <div class="rd-navbar-main">
                        <!--RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!--RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!--RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <!--Brand--><a class="brand" th:href="@{/dashboard}"><img class="brand-logo-dark" th:src="@{/images/logo-default-293x44.png}" alt="" width="146" height="22"/><img class="brand-logo-light" th:src="@{/images/logo-inverse-310x44.png}" alt="" width="155" height="22"/></a>
                            </div>
                        </div>
                        <div class="rd-navbar-main-element">
                            <div class="rd-navbar-nav-wrap">
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/dashboard}">Home</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/weather}">Weather</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/favorite}">Favorite</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/cryptocurrency}">Crypto</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/contact}">Contacts</a>
                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" >Hello, <a class="rd-nav-link" th:text="${session.userNameTimeSession}"></a></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>



<section xmlns:th="http://www.thymeleaf.org" th:fragment="swiper" class="section swiper-container swiper-slider swiper-slider-1 context-dark" data-loop="true" data-autoplay="5000" data-simulate-touch="false">
    <div class="swiper-wrapper">
        <div class="swiper-slide" data-slide-bg="../images/index-1-slider-1-1920x768.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                            <h1><span class="d-block" data-caption-animate="fadeInUp"  data-caption-delay="100">Breaking NEWS</span><span class="d-block text-light"  data-caption-animate="fadeInUp" data-caption-delay="200">& A lot more</span></h1>
                            <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">Just be aware.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="../images/index-1-slider-2-1920x768.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                            <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">Don't let the weather surprise you</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="../images/index-1-slider-3-1920x768.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                            <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">#1 Keep your finger on the pulse of crypto news</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Swiper Pagination-->
    <div class="swiper-pagination-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

